@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Crimson+Text&family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Crimson+Text&family=Inter:wght@100&family=Montserrat:wght@200;300&display=swap');

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-BlackCaps.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-BlackitalicCaps.otf) format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-LightCaps.otf) format('opentype');
    font-weight: light;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-LightitalicCaps.otf) format('opentype');
    font-weight: lighter;
}

/* General  */
* {
    color: #270722;
}


h1 {
    font-family: 'Panton', sans-serif;
    font-weight: bolder;
    font-size: 6em;
}

.iconos i {
    font-size: 3rem;
}

/* Header  */

.navbar {
    background-color: #F8F8F8 !important;
}

.navbar-brand {
    color: #270722 !important;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem !important;
    font-style: italic;
    font-weight: bolder;
    line-height: normal;
}

.navbar-nav .nav-link.active {
    color: #270722 !important;
}

.nav-link {
    color: #270722 !important;
}

.Inicio {
    margin: 0rem 6.25rem 0rem 25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Catalogo {
    margin: 0rem 6.25rem 0rem 6.25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Servicios {
    margin: 0rem 6.25rem 0rem 6.25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Contactos {
    margin: 0rem 6.25rem 0rem 6.25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-menu {
    width: 13.8125rem;
    height: 19.1875rem;
    flex-shrink: 0;
    border-radius: 2.75rem !important;
    background: #270722 !important;
     color: #FFFDFD !important;
}

.dropdown-menu h3 {
    margin: 0.88rem 3rem 1.06rem 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.dropdown-item {
    color: #FFFDFD !important;
    margin: 0 0 1.06rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/* Titulo */

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.title h2 {
    margin: 17.62rem 3.75rem 0.69rem 6.75rem;
    font-size: 3rem;
}

.title h3 {
    font-size: 2.5rem;
    text-align: center;
}

.title h1 {
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Panton', sans-serif;
    font-size: 3.125rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    }

.title img {
    margin: 9.19rem 0 1.44rem 2.19rem;
    width: 20.0625rem;
    height: 17.5625rem;
    flex-shrink: 0;
}



/* Imagen pc */

.pc img{
    width: 44.0625rem;
    height: 26.625rem;
    flex-shrink: 0;
    margin: 5rem 0 5rem 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Segundo logo */

.logo2 img {
    width: 7rem;
    height: 6.0625rem;
    display: block;
    margin-left: 45rem;
    margin-top: -1.4rem;
}

.logo2 h1 {
    margin-right: 46rem;
}

/* Carrusel */

.Carrusel{
    margin-top: 4.4rem;
}

.carousel-item img {
    height: 75rem;
    width: auto;
}

/* Informacion de paquetes */

.info h2 {
    margin: 4.62rem 7rem 1.56rem 9.19rem;
    font-family: 'Panton', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

.info h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
}

.info .linev {
    margin: 0rem 2.25rem 3.94rem 2.19rem;
    width: 0.4375rem;
    height: 30rem;
    background-color: #270722;
}

.info .appweb {
    margin-top: -1.5rem;
}

/* Mision / Vision */

.mision {
    color: #270722;
}

.mision h1 {
    text-align: center;
    font-family: 'Panton', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
}

.mision h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
    margin-top: 2.31rem;
}

.mision img {
    width: 31.25rem *1.6;
    height: 31.25rem;
    flex-shrink: 0;
    margin: 6.81rem 0 0 6.5rem;
}

.Valores {
    margin-top: 5.31rem;
}

.titleEDS {
    margin-top: 16.94rem;
    margin-bottom: -1.5rem;
}


.final {
    margin-bottom: 6.31rem;
}

/* Lineas usadas */

.line {
    margin: 5.87rem 2.25rem 3.94rem 2.19rem;
    width: 90%;
    height: 0.4375rem;
    background-color: #270722;
}

.linesm1 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

.linesm2 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

/* Footer */

.links h3{
    color: #270722;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    margin-top: 0.94rem;
    margin-left: 2.64rem;
}

.ayuda h3{
    margin-top: 1.69rem;
}

.contactos_footer .bi-linkedin {
    margin-left: 2.64rem;
    
}

.contactos_footer {
    margin-top: 3.84rem;
}

.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.7rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: -2.5rem;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* responsividad 1000 */

@media (max-width:1000px) {

    /* Titulo */
    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        line-height: normal;
    }
    
    .title h2 {
        margin-top: 80%;
        margin-left: 23%;
        font-size: 2.5rem;
    }
    
    .title h3 {
        font-size: 2rem;
        margin-top: 2%;
        margin-left: 3%;
        
    }
    
    .title h1 {
        position: absolute;
        top: 70%;
        left: 33%;

        display: block;
        width: auto;
        height: 25%;
        flex-shrink: 0;

        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Panton', sans-serif;
        font-size: 3rem;
        font-style: italic;
        font-weight: bold;
        line-height: normal;
        }
    
    .title img {
        position: absolute;
        top: 25%;
        left: 35%;

        display: block;
        width: auto;
        height: 25%;
        flex-shrink: 0;
    }

    
/* Imagen pc */

.pc img{
    opacity: 0%;;
}

/* Segundo logo */

.logo2 img {
    opacity: 0%;
}

.logo2 h1 {
    opacity: 0%;
}

/* Carrusel */

.Carrusel{
    margin-top: 4.4rem;
}

.carousel-item img {
    height: 26rem;
    width: auto;
}

/* Informacion de paquetes */

.info .linev {
    margin: 0rem 2.25rem 3.94rem 2.19rem;
    width: 0.4375rem;
    height: 0rem;
    background-color: #270722;
}

/* Mision / Vision */

.mision img {
    width: 25rem;
    height: 15.125rem;
    flex-shrink: 0;
    margin: 6.81rem 0 0 6.5rem;
    margin-left: 20%;
    margin-top: 10%;
    
}

.Valores {
    margin-top: 5.31rem;
}

.titleEDS {
    margin-top: 16.94rem;
    margin-bottom: -1.5rem;
}


.final {
    margin-bottom: 6.31rem;
}

/* Lineas usadas */

.line {
    margin: 5.87rem 2.25rem 3.94rem 2.19rem;
    width: 90%;
    height: 0.4375rem;
    background-color: #270722;
}

.linesm1 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

.linesm2 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

/* Footer */

.links h3{
    color: #270722;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    margin-top: 0.94rem;
    margin-left: 2.64rem;
}

.ayuda h3{
    margin-top: 1.69rem;
}

.contactos_footer .bi-linkedin {
    margin-left: 2.64rem;
    
}

.contactos_footer {
    margin-top: 3.84rem;
}

.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.7rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: 5%;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
}


/* responsividad 500 */

@media (max-width:600px) {

    .navbar-nav .nav-link.active .nav-link{
        text-align: left !important;
    }

    /* Titulo */
    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        line-height: normal;
    }
    
    .title h2 {
        margin-top: 110%;
        margin-left: 23%;
        font-size: 2rem;
        text-align: center;
    }
    
    .title h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2%;
        margin-left: 3%;
        
    }
    
    .title h1 {
        position: absolute;
        top: 70%;
        left: 25%;

        display: block;
        width: auto;
        height: 25%;
        flex-shrink: 0;

        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Panton', sans-serif;
        font-size: 2.25rem;
        font-style: italic;
        font-weight: bold;
        line-height: normal;
        }
    
    .title img {
        position: absolute;
        top: 22%;
        left: 25%;

        display: block;
        width: auto;
        height: 25%;
        flex-shrink: 0;
    }

    
.mision img {
    width: 25rem;
    height: 15.125rem;
    flex-shrink: 0;
    margin: 6.81rem 0 0 6.5rem;
    margin-left: 5%;
    margin-top: 10%;
    
}

/* Footer */


.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.7rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: 5%;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    }
}