@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Crimson+Text&family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Crimson+Text&family=Inter:wght@100&family=Montserrat:wght@200;300&display=swap');

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-BlackCaps.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-BlackitalicCaps.otf) format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-LightCaps.otf) format('opentype');
    font-weight: light;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-LightitalicCaps.otf) format('opentype');
    font-weight: lighter;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* General  */

* {
    color: #270722;
}


h1 {
    font-family: 'Panton', sans-serif;
    font-weight: bolder;
    font-size: 6em;
}

.iconos i {
    font-size: 3rem;
}

/* Header  */

.navbar {
    background-color: #F8F8F8 !important;
}
.navbar i {
    color: #F8F8F8 !important;
}

.navbar-brand {
    color: linear-gradient(125deg, #270722 0%, #862277 100%) !important;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem !important;
    font-style: italic;
    font-weight: bolder;
    line-height: normal;
}

.navbar-nav .nav-link.active {
    color: #270722 !important;
}

.nav-link {
    color: #270722 !important;
}

.Inicio {
    margin: 0rem 6.25rem 0rem 25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Catalogo {
    margin: 0rem 6.25rem 0rem 6.25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Servicios {
    margin: 0rem 6.25rem 0rem 6.25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Contactos {
    margin: 0rem 6.25rem 0rem 6.25rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-menu {
    width: 13.8125rem;
    height: 19.1875rem;
    flex-shrink: 0;
    background: #270722 !important;
     color: #FFFDFD !important;
}

.dropdown-menu h3 {
    margin: 0.88rem 3rem 1.06rem 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.dropdown-item {
    color: #FFFDFD !important;
    margin: 0 0 1.06rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/* Titulo */

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.title h2 {
    margin: 17.62rem 3.75rem 0.69rem 6.75rem;
    font-size: 3rem;
}

.title h3 {
    font-size: 2.5rem;
    text-align: center;
}

.title h1 {
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Panton', sans-serif;
    font-size: 3.125rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    }

.title img {
    margin: 9.19rem 0 1.44rem 2.19rem;
    width: 20.0625rem;
    height: 17.5625rem;
    flex-shrink: 0;
}



/* Imagen pc */

.pc img{
    width: 44.0625rem;
    height: 26.625rem;
    flex-shrink: 0;
    margin: 5rem 0 5rem 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Segundo logo */

.logo2 img {
    width: 7rem;
    height: 6.0625rem;
    display: block;
    align-self: flex-end;
    margin-left: 45rem;
    margin-top: -1.4rem;
}

.logo2 h1 {
    margin-right: 46rem;
}

/* Carrusel */

.Carrusel{
    margin-top: 4.4rem;
}

.carousel-item img {
    height: 100%;
    width: auto;
}

/* Informacion de paquetes */

.info h2 {
    margin: 4.62rem 7rem 1.56rem 9.19rem;
    font-family: 'Panton', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

.info h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 5%;
    font-style: normal;
    line-height: normal;
}

.info .linev {
    margin: 0rem 2.25rem 3.94rem 2.19rem;
    width: 0.4375rem;
    height: 30rem;
    background-color: #270722;
}

.info .appweb {
    margin-top: -1.5rem;
}

/* Mision / Vision */

.mision {
    color: #270722;
    text-align: end;
}

.mision h1 {
    font-family: 'Panton', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
}

.mision h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
    margin-top: 2.31rem;
}

.mision img {
    width: 31.25rem *1.6;
    height: 31.25rem;
    flex-shrink: 0;
    margin: 6.81rem 0 0 6.5rem;
}

.Img2 img {
    display: block;
    align-self: flex-start;
}

.Valores {
    margin-top: 5.31rem;
}

.titleEDS {
    text-align: center !important;
    margin-top: 16.94rem;
    margin-bottom: -1.5rem;
}


.final {
    margin-bottom: 6.31rem;
}

/* Lineas usadas */

.line {
    margin: 5.87rem 2.25rem 3.94rem 2.19rem;
    width: 90%;
    height: 0.4375rem;
    background-color: #270722;
}

.linesm1 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

.linesm2 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

/* Footer */

.links h3{
    color: #270722;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    margin-top: 0.94rem;
    margin-left: 2.64rem;
}

.ayuda h3{
    margin-top: 1.69rem;
}

.contactos_footer .bi-linkedin {
    margin-left: 2.64rem;
    
}

.contactos_footer {
    margin-top: 3.84rem;
}

.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.7rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: -2.5rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* Hamburguesa  */

.navbar-toggler {
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler, 
.navbar-toggler:focus,
.navbar-toggler:active, 
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #270722;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(125deg, #270722 0%, #641658 100%);
}




@media (min-width:1200px) {
    
/* Header  */

.navbar-brand {
    color: #270722 !important;
    font-family: 'Panton', sans-serif;
    font-size: 1.2rem !important;
    font-style: italic;
    font-weight: bolder;
    line-height: normal;
}

.navbar-nav .nav-link.active {
    color: #270722 !important;
}

.nav-link {
    color: #270722 !important;
}

.Inicio {
    margin: 0rem 3rem 0rem 15rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Catalogo {
    margin: 0rem 3rem 0rem 3rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Servicios {
    margin: 0rem 3rem 0rem 3rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Contactos {
    margin: 0rem 6.25rem 0rem 3rem;
    color: #270722 !important;
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-menu {
    width: 13.8125rem;
    height: 19.1875rem;
    flex-shrink: 0;
    background: #270722 !important;
     color: #FFFDFD !important;
}

.dropdown-menu h3 {
    margin: 0.88rem 3rem 1.06rem 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.dropdown-item {
    color: #FFFDFD !important;
    margin: 0 0 1.06rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/* Titulo */

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.title h2 {
    margin: 10rem 3.75rem 0.69rem 6.75rem;
    font-size: 3rem;
    text-align: center;
}

.title h3 {
    font-size: 2.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

.title h1 {
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Panton', sans-serif;
    font-size: 3.125rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    }

.title img {
    margin: 5rem 0 1.44rem 2.19rem;
    width: 20.0625rem;
    height: 17.5625rem;
    flex-shrink: 0;
}

/* Imagen pc */

.pc img{
    width: 44.0625rem;
    height: 26.625rem;
    flex-shrink: 0;
    margin: 5rem 0 5rem 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Segundo logo */

.logo2 img {
    width: 7rem;
    height: auto;
    display: block;
    align-self: end;
    margin: 0 0 0 80%;
    height: 6.0625rem;
    margin-top: -1.4rem;
}

.logo2 h1 {
    margin-right: -15rem;
}
/* Carrusel */

.Carrusel{
    margin-top: 4.4rem;
}

.carousel-item img {
    height: 75%;
    width: auto;
}


/* Informacion de paquetes */

.info h2 {
    margin: 0 0 0 0;
    font-family: 'Panton', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

.info h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
}

.info .linev {
    margin: 0rem 2.25rem 3.94rem 2.19rem;
    width: 0.4375rem;
    height: 25rem;
    background-color: #270722;
}

.info .appweb {
    margin-top: -1.5rem;
}


/* Mision / Vision */

.mision h1 {

    font-family: 'Panton', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-align: end;
    line-height: normal;
}

.mision h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
    text-align: end;
    line-height: normal;
    margin-top: 2.31rem;
}

.mision img {
    width: 80%;
    height: 80%;
    flex-shrink: 0;
    display: block;
    align-self: end;
}

.Valores {
    margin-top: 5.31rem;
    text-align: start !important;
    margin-right: 5rem;
}

.Img2 img{
    margin: 0 0 0 0;
    align-self: flex-start;
}

.mision {
    text-align: center;
}


.final {
    margin-bottom: 6.31rem;
}


/* Footer */

.links h3{
    color: #270722;
    font-family: 'Panton', sans-serif;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    margin-top: 0.94rem;
    margin-left: 2.64rem;
}

.ayuda h3{
    margin-top: 1.69rem;
}

.contactos_footer .bi-linkedin {
    margin-left: 2.64rem;
    
}

.contactos_footer {
    margin-top: 3.84rem;
}

.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.5rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: -2.5rem;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}




}

/* responsividad 1000 */

@media (max-width:1199.98px) {
    /* Navbar */
.dropdown-menu {
    width: 13.8125rem;
    height: 19.1875rem;
    flex-shrink: 0;
    background: #270722 !important;
     color: #FFFDFD !important;
}

.dropdown-menu h3 {
    margin: 0.88rem 3rem 1.06rem 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.dropdown-item {
    color: #FFFDFD !important;
    margin: 0 0 1.06rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

    /* Titulo */
    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        line-height: normal;
    }
    
    .title h2 {
        margin: 0 0 0 0;
        margin-left: 15%;
        font-size: 2.5rem;
    }
    
    .title h3 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -15%;
        font-size: 2rem;
        margin-top: 2%;
        
    }
    
    .title h1 {

        margin-left: 20%;

        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Panton', sans-serif;
        font-size: 3rem;
        font-style: italic;
        font-weight: bold;
        line-height: normal;

        }
    
    .title img {

        margin-left: 30%;

        display: block;
        width: auto;
        height: 25%;
        flex-shrink: 0;
    }

    
/* Imagen pc */

.pc img{
    opacity: 0%;
    height: 0%;
    width: 0%;
}

/* Segundo logo */

.logo2 img {
    opacity: 0%;
}

.logo2 h1 {
    opacity: 0%;
}

/* Carrusel */

.Carrusel{
    margin-top: 4.4rem;
}

.carousel-item img {
    height: 50%;
    width: auto;
}

/* Informacion de paquetes */

.info .linev {
    margin: 0rem 2.25rem 3.94rem 2.19rem;
    width: 0.4375rem;
    height: 0rem;
    background-color: #270722;
}

.info h2 {
    margin: 0 0 0 0;
    font-family: 'Panton', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

/* Mision / Vision */

.mision img {
    flex-shrink: 0;
    margin: 0 0 0 0;
    margin-top: 10%;
    text-align: center;
    
}

.mision h1 {

    font-family: 'Panton', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
}

.mision h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    line-height: normal;
    margin-top: 2.31rem;
}

.Valores {
    margin-top: 5.31rem;
}

.titleEDS {
    margin-top: 16.94rem;
    margin-bottom: -1.5rem;
}


.final {
    margin-bottom: 6.31rem;
}

/* Lineas usadas */

.line {
    margin: 5.87rem 2.25rem 3.94rem 2.19rem;
    width: 90%;
    height: 0.4375rem;
    background-color: #270722;
}

.linesm1 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

.linesm2 {
    margin-left: 2.94rem;
    width: 24.9375rem;
    height: 0.125rem;
    background-color: #270722;
}

/* Footer */

.links h3{
    color: #270722;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    margin-top: 0.94rem;
    margin-left: 2.64rem;
}

.ayuda h3{
    margin-top: 1.69rem;
}

.contactos_footer .bi-linkedin {
    margin-left: 2.64rem;
    
}

.contactos_footer {
    margin-top: 3.84rem;
}

.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.7rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: 5%;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
}


/* responsividad 768 */

@media (max-width:767.98px) {

    .navbar-nav .nav-link.active .nav-link{
        text-align: left !important;
    }

    /* Titulo */
    /* Titulo */
    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        line-height: normal;
    }
    
    .title h2 {
        margin: 0 0 0 0;
        font-size: 2rem;
        text-align: center;
    }
    
    .title h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2%;
        margin-left: 3%;
        
    }
    
    .title h1 {

        margin-bottom: 0;

        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Panton', sans-serif;
        font-size: 2.25rem;
        font-style: italic;
        font-weight: bold;
        line-height: normal;
        }
    
    .title img {
        display: block;
        width: auto;
        height: 25%;
        flex-shrink: 0;
    }

    .pc img {
        height: 0px;
        margin: 0 0 0 0;
    }

    
.mision img {
    width: 100%;
    height: 80%;
    flex-shrink: 0;
    margin: 0 0 0 0;
    display: block;
    align-items: center;
    margin-left: 1%;
    margin-top: 10%;
    
}

/* Footer */


.contactos_footer i {
    margin-left: 1.01rem;
    font-size: 2.7rem;
    width: 3.30994rem;
    height: 3.262rem;
    flex-shrink: 0;
    color: #270722;
}

.copyright h1 {
    color: #270722;
    text-align: end;
    margin-top: 5%;
    margin-right: 1rem;
    font-family: 'Panton', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    }
}

/* Javascript */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
}

.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}